data_og/
*/data_pops/
*/spike_rates/
*/times/
*/data_pops/
*/irregularities/
*/pop_activities/
*/lvrs/
*/irregularities/
*/pop_activities/
*/lvrs/
*/spike_rates/
*/times/
*/sample_voltages/
test.py
__pycache__
output_1.png
output_2.png
